.container {
    padding: 1rem 2rem;
    font-size: 1.4rem;
    color: var(--p-custom-950);
}

.student-info {
    display: flex;
    margin-bottom: 1em;
    gap: 1em;
}

.subjects-list {
    list-style-type: none;
    font-size: 1.2rem;
    > li {
        display: flex;
        flex-direction: row;
        margin: 0.5rem 0;
        align-items: center;
        gap: 1.5rem;
    }
}

.btn-container {
    margin-top: 3rem;
}
