@if (!students.length && !loading) {
    <p>There are not student records</p>
}

<p-table
    [value]="students"
    [paginator]="true"
    [rows]="studentTableService.lastTableEvent.rows ?? 20"
    [first]="studentTableService.lastTableEvent.first"
    [totalRecords]="totalRecords"
    [lazy]="true"
    (onLazyLoad)="loadStudents($event)"
    [currentPageReportTemplate]="
        'Showing {first} to {last} of {totalRecords} entries'
    "
    [showCurrentPageReport]="true"
    [pageLinks]="5"
    [showPageLinks]="true"
    [rowsPerPageOptions]="[5, 10, 20]"
    class="custom-datatable"
    paginatorStyleClass="custom-paginator"
>
    <ng-template pTemplate="header">
        <tr>
            <th>#</th>
            <th>Name</th>
            <th>Email</th>
            <th>Birth Date</th>
            <th>Course</th>
            <th>Action</th>
        </tr>
    </ng-template>

    <ng-template pTemplate="body" let-student let-i="rowIndex">
        <tr clas="p-selectable-row">
            <td>{{ i + 1 }}</td>
            <td>{{ student.name }}</td>
            <td>{{ student.email }}</td>
            <td>{{ student.birthDate | date }}</td>
            <td>{{ student.course.name }}</td>
            <td>
                <div>
                    <p-button
                        icon="pi pi-info-circle"
                        text
                        severity="info"
                        (click)="viewDetails(student)"
                    />
                    <p-button
                        icon="pi pi-trash"
                        text
                        severity="warn"
                        (click)="confirmDelete($event, student)"
                    />
                </div>
            </td>
        </tr>
    </ng-template>
</p-table>
